<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <!-- Back button that redirects to the dashboard -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
  
      <!-- Title with the centered logo -->
      <ion-title class="ion-text-center">
        <img src="assets/logo2.png" alt="Logo" style="height: 30px;" />
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Map container -->
  <div #map style="height: 100%;"></div>
</ion-content>
