<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToDashboard()">
        <img src="assets/logo.png" alt="Logo" style="height: 40px;" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Section: Your Memories, Safely Stored -->
  <div class="memories-header">
    <h3>{{ 'MEMORIES.HEADER' | translate }}</h3>
  </div>

  <!-- Section: User Pictures -->
  <div class="memories-grid">
    <!-- First Image Slot for Upload Button -->
    <ion-button class="add-picture" (click)="uploadPicture()">
      <ion-icon name="add-circle-outline" style="font-size: 50px;"></ion-icon>
      {{ 'MEMORIES.ADD_IMAGE' | translate }}
    </ion-button>

    <!-- Loop through the memoryImages array and display each image -->
    <div class="memory-picture" *ngFor="let image of memoryImages">
      <img [src]="image" alt="{{ 'MEMORIES.IMAGE_ALT' | translate }}" />
    </div>
  </div>
</ion-content>




