ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    --background: url('/assets/memories.jpg') no-repeat center center / cover;
  }

  .custom-header {
    --background: orange; 
    color: white; 
  }
  
  ion-toolbar {
    --background: orange;
    --color: white;
  }
  
.memories-header {
    text-align: center;
    margin-top: 20px;
    h2 {
      font-size: 2rem;
      color: #333;
      font-weight: bold;
    }
  }
  
  .memories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    padding: 20px;
  }
  
  .memory-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  
  .add-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb9208;
    color: white;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    ion-icon {
      font-size: 50px;
    }
  }
  