<ion-content class="signup-page">
  <!-- Logo Section -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="SRHaven Logo" class="logo" />
  </div>

  <!-- Form Container -->
  <div class="form-container">
    <form (ngSubmit)="onSignup()" #signupForm="ngForm">
      <!-- First Name Input -->
      <ion-item>
        <ion-label position="floating">{{ 'SIGNUP.FIRST_NAME' | translate }}</ion-label>
        <ion-input [(ngModel)]="firstName" name="firstName" required></ion-input>
      </ion-item>

      <!-- Last Name Input -->
      <ion-item>
        <ion-label position="floating">{{ 'SIGNUP.LAST_NAME' | translate }}</ion-label>
        <ion-input [(ngModel)]="lastName" name="lastName" required></ion-input>
      </ion-item>

      <!-- Email Input -->
      <ion-item>
        <ion-label position="floating">{{ 'SIGNUP.EMAIL' | translate }}</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <!-- Password Input -->
      <ion-item>
        <ion-label position="floating">{{ 'SIGNUP.PASSWORD' | translate }}</ion-label>
        <ion-input [(ngModel)]="password" 
                   name="password" 
                   [type]="showPassword ? 'text' : 'password'" required>
        </ion-input>
      </ion-item>

      <!-- Submit Button -->
      <ion-button class="signup-button" expand="full" type="submit">
        {{ 'SIGNUP.CREATE_ACCOUNT' | translate }}
      </ion-button>

      <!-- Back to Login Link -->
      <div class="back-to-login">
        <span>{{ 'SIGNUP.BACK_TO' | translate }} </span>
        <a routerLink="/login">{{ 'SIGNUP.LOGIN' | translate }}</a>
      </div>
    </form>
  </div>
</ion-content>
