<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BLOG.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Search bar -->
  <ion-searchbar
    [(ngModel)]="searchQuery"
    [placeholder]="'BLOG.SEARCH_PLACEHOLDER' | translate"
    (ionInput)="filterPosts()">
  </ion-searchbar>

  <!-- Categories -->
  <div class="categories">
    <ion-segment value="all" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="all">
        <ion-label>{{ 'BLOG.ALL' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="recent">
        <ion-label>{{ 'BLOG.RECENT' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Blog List -->
  <ion-list>
    <ion-item *ngFor="let post of filteredPosts">
      <ion-thumbnail slot="start">
        <img [src]="post.image" [alt]="'BLOG.IMAGE_ALT' | translate">
      </ion-thumbnail>
      <ion-label>
        <h1>{{ post.blog }}</h1>
        <h2>{{ post.title }}</h2>
        <p>{{ post.summary }}</p>
        <ion-text color="medium">{{ post.time }}</ion-text>
      </ion-label>

      <!-- Open Button -->
      <ion-button fill="clear" slot="end" (click)="openPost(post.url)">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>

      <!-- Read Aloud Button -->
      <ion-button fill="clear" slot="end" (click)="readPost(post.blog, post.title, post.summary)">
        <ion-icon name="volume-high-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
