ion-content {
  --background: none;
  position: relative;
}

ion-content::after {
  content: "";
  background: url('/assets/home.jpg') no-repeat center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -2; 
  pointer-events: none; 
}

.logo-container {
  text-align: center;
  margin: 16vh auto; 
  position: relative;
  padding: 20px; 
  background: rgba(0, 0, 0, 0.6); 
  border-radius: 12px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.logo-container .logo {
  height: 110px; 
  width: auto; 
  max-height: 20vh; 
  z-index: 2; 
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6vh auto;
}

.action-button {
  margin: 10px 0;
  width: 80%; 
  max-width: 400px; 
  --background: rgba(251, 146, 8, 0.8);
  --color: #fefefe;
}

.signup-button {
  --background: rgba(251, 146, 8, 0.8);
}

@media (min-width: 768px) {
  .logo-container {
    margin: 15vh auto; 
  }
  .action-button {
    width: 60%; 
  }
}

@media (min-width: 1024px) {
  .logo-container {
    margin: 20vh auto; 
  }
  .action-button {
    width: 50%; 
  }
}

.language-dropdown {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6); 
  border-radius: 12px; 
  padding: 8px 16px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.language-select {
  --placeholder-color: white; 
  --color: white; 
  font-weight: bold; 
  font-size: 16px; 
}