<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <img src="assets/logo2.png" alt="Logo" style="height: 30px;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
    <p>
      {{ 'ABOUT.DEVELOPERS_INFO' | translate }} 
      <b>Mohd Rayyan Shaikh</b> & <b>Ayesha Ahmed Dhool</b>
      {{ 'ABOUT.COURSE_INFO' | translate }}
      <b>Professor Peter Dillinger</b>.
    </p>
    <p>
      {{ 'ABOUT.PROJECT_DESCRIPTION' | translate }}
    </p>
    <p>
      {{ 'ABOUT.USER_EXPERIENCE' | translate }}
    </p>

    <h3>{{ 'ABOUT.COPYRIGHT_TITLE' | translate }}</h3>
    <p>
      <b>{{ 'ABOUT.COPYRIGHT_INFO' | translate }}</b>
    </p>
    <p>
      {{ 'ABOUT.OWNERSHIP_INFO' | translate }}
    </p>
  </div>
</ion-content>
