<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Back button to navigate to dashboard -->
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logo.png" alt="Logo" height="40" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <!-- Form to display and edit user details -->
    <form (ngSubmit)="onUpdate()">
      <p class="profile-heading">
        {{ 'PROFILE.HEADING' | translate }}
      </p>

      <!-- First Name -->
      <ion-item>
        <ion-label position="floating">{{ 'PROFILE.FIRST_NAME' | translate }}</ion-label>
        <ion-input [(ngModel)]="user.firstName" name="firstName" required></ion-input>
      </ion-item>

      <!-- Last Name -->
      <ion-item>
        <ion-label position="floating">{{ 'PROFILE.LAST_NAME' | translate }}</ion-label>
        <ion-input [(ngModel)]="user.lastName" name="lastName" required></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">{{ 'PROFILE.EMAIL' | translate }}</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="email" readonly></ion-input>
      </ion-item>

      <!-- Password -->
      <ion-item>
        <ion-label position="floating">{{ 'PROFILE.NEW_PASSWORD' | translate }}</ion-label>
        <ion-input
          [(ngModel)]="user.password"
          name="password"
          [type]="passwordType"
          required
        ></ion-input>
        <ion-icon
          name="eye"
          slot="end"
          (click)="togglePasswordVisibility()"
          [color]="passwordType === 'text' ? 'primary' : 'medium'"
        ></ion-icon>
      </ion-item>

      <!-- Buttons -->
      <div class="buttons-container">
        <ion-button type="submit" expand="full">{{ 'PROFILE.UPDATE_BUTTON' | translate }}</ion-button>
        <ion-button expand="full" color="danger" (click)="onDeleteAccount()">
          {{ 'PROFILE.DELETE_BUTTON' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>



